$primary: #606c76;
$secondary: #333026;
$neutral: #ffffff;
$disabled: #dcdcdc;
$color1: #c99e46;
$color2: #ffde8f;
$color3: #ffebaf;
$color4: #d2c5a2;
$color5: #504d44;
$color6: #23211b;
$color7: #ffeebd;

$font-primary: 'Roboto', 'Arial', sans-serif;
$font-secondary: 'Merryweather', serif;
